body {
  color: white;
  font-family: sans-serif;
}

taskbar {
  background-color: #000421;
  bottom: 0;
  width: 100%;
  bottom: 0;
  position: fixed;
  left: 0;
  height: 30;
}

.search {
  height: 30;
  font-size: 15;
  left: 35;
  position: fixed;
}

.icon1 {
  width: 30;
  position: fixed;
  cursor: pointer;
  left: 265;
}

.winicon {
  width: 20;
  position: fixed;
  cursor: pointer;
  left: 5;
  bottom: 6;
}

start {
  background-color: #000421;
  bottom: 30;
  position: fixed;
  left: 0;
  width: 400;
  height: 550;
}

.fullscreen {
  left: 250;
  position: fixed;
  bottom: 540;
  color: white;
}

window[type="header"] {
  background-color: #dcdcdc;
  width: 500;
  height: 30;
  left: 30%;
  bottom: 554;
}

window {
  background-color: white;
  width: 500;
  height: 300;
  color: black;
  position: fixed;
  left: 30%;
  bottom: 254;
}

part[type="windowtitle"] {
  font-size: 20;
  position: fixed;
  left: 33%;
  bottom: 554;
}

.windowfavicon {
  width: 30;
  position: fixed;
  left: 30%;
  bottom: 554;
}

.bordertd {
  border: 1px solid black;
}

part[type="windowxbutton"] {
  bottom: 560;
  position: fixed;
  background-color: #c5c5c5;
  width: 20;
  height: 20;
  text-align: center;
  font-weight: 1000;
  cursor: pointer;
}

part[type="windowxbutton"]:hover {
  color: red;
}

#snackbar1 {
  border-radius: 100px;
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

#snackbar1.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}
